<div class="container text-center">
	<table class="table table-striped">
		<tr>
			<th>Symbol</th>
			<th>Date</th>
			<th>Open</th>
			<th>High</th>
			<th>Low</th>
			<th>Close</th>
			<th>Volume</th>
			<th>Adjusted Close</th>
			<th>Trend</th>
		</tr>

		<% @stock_histories.each do |stock_history| %>
			<tr>
				<td><%= @stock.symbol %></td>
				<td><%= stock_history.date.to_date %></td>
				<td><%= stock_history.open %></td>
				<td><%= stock_history.high %></td>
				<td><%= stock_history.low %></td>
				<td><%= stock_history.close %></td>
				<td><%= stock_history.volume %></td>
				<td><%= stock_history.adjusted_close %></td>
				<td><%= stock_history.trend %></td>
			</tr>
		<% end %>
		<%= will_paginate(@stock_histories) %>
	</table>

</div>
